!!! 5
%html{offline_mode? ? {manifest: '/index.appcache'} : {}}
  %head
    %title= App::NAME
    %meta(charset='UTF-8')
    %meta(name='viewport' content='width=device-width, initial-scale=1')
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %meta(name='apple-mobile-web-app-status-bar-style' content='black')
    = css :whole
    = js :whole
  %body
    :ruby
      def as_page
        {data: {role: 'page'}}
      end
      def as_content
        {data: {role: 'content'}}
      end
      def as_listview
        {data: {role: 'listview'}}
      end
      def as_inset
        {data: {inset: 'true'}}
      end

    #header{data: {role: 'header', position: 'fixed', theme: 'b'}}
      %div{data: {role: 'navbar'}}
        %ul
          %li
            %a.home.button{data: {direction: 'reverse'}}(href='#home' title='ホーム画面へ移動する。')<
              %i.fa.fa-home
          %li
            %a.configure.button{data: {transition: 'pop'}}(href='#configure' title='設定画面を開く。')<
              %i.fa.fa-cog
          %li
            %a.share.button(href='...' target='_blank' title='サプライを共有する。')<
              %i.fa.fa-share-square-o
          %li
            %a.reshuffle.button(title='サプライを再生成する。')<
              %i.fa.fa-random

    #home{as_page}

      %div{as_content}
        %ul{as_listview}
          %li
            %a(href='#supplies:random') ランダム選択
          %li
            %a(href='#supplies:log') 最近共有したサプライ
          %li
            %a(href='#supplies:basic') 推奨サプライ(基本セット)
          %li
            %a(href='#supplies:fareast') 推奨サプライ(極東辺境領)
          %li
            %a(href='#supplies:northern') 推奨サプライ(北限の魔女)
          %li
            %a(href='#supplies:fairy') 推奨サプライ(フェアリーガーデン)
          %li
            %a(href='#supplies:six') 推奨サプライ(六都市同盟)
          %li
            %a(href='#supplies:championship1') 世界選手権
          %li
            %a(href='#supply:editor') 手動作成
          %li
            %a(href='#card-references') 機能別カードリスト
          %li
            %a(href='#about') このアプリについて

    #supplies{as_page}
      -# #page_list_template

    #supply{as_page}
      -# #card_list_template

    #card-references{as_page}
      -# #page_list_template

    #references{as_page}
      -# #page_list_template

    #reference{as_page}
      -# #card_list_template

    #configure{as_page, {data: {dialog: 'true', close_btn: 'none'}}}

      %div{data: {role: 'header', theme: 'b'}}
        %a#configure_close_button.ui-btn.ui-corner-all.ui-icon-delete.ui-btn-icon-notext.ui-btn-left
        %h1 設定

      %div{as_content}

        .block#available_card_sets
          %h2 使用するカードセット

          %fieldset{data: {role: 'controlgroup', type: 'horizontal'}}
            %legend 基本セット
            %label
              %input(type='radio' name='include_basic' value='must')
              必須
            %label
              %input(type='radio' name='include_basic' value='may')
              使用
            %label
              %input(type='radio' name='include_basic' value='must_not')
              禁止

          %fieldset{data: {role: 'controlgroup', type: 'horizontal'}}
            %legend 極東辺境領
            %label
              %input(type='radio' name='include_fareast' value='must')
              必須
            %label
              %input(type='radio' name='include_fareast' value='may')
              使用
            %label
              %input(type='radio' name='include_fareast' value='must_not')
              禁止

          %fieldset{data: {role: 'controlgroup', type: 'horizontal'}}
            %legend 北限の魔女
            %label
              %input(type='radio' name='include_northern' value='must')
              必須
            %label
              %input(type='radio' name='include_northern' value='may')
              使用
            %label
              %input(type='radio' name='include_northern' value='must_not')
              禁止

          %fieldset.fairygarden{data: {role: 'controlgroup', type: 'horizontal'}}
            %legend フェアリーガーデン
            %label
              %input(type='radio' name='include_fairy' value='must')
              必須
            %label
              %input(type='radio' name='include_fairy' value='may')
              使用
            %label
              %input(type='radio' name='include_fairy' value='must_not')
              禁止

          %fieldset{data: {role: 'controlgroup', type: 'horizontal'}}
            %legend 六都市同盟
            %label
              %input(type='radio' name='include_six' value='must')
              必須
            %label
              %input(type='radio' name='include_six' value='may')
              使用
            %label
              %input(type='radio' name='include_six' value='must_not')
              禁止

        .block
          %h2 偏り具合の調整

          %fieldset{data: {role: 'controlgroup'}}
            %label
              %input(type='checkbox' name='exclude_banned_cards')
              公式推奨バランスにする
              %span.note
                以下のカードは出現しません:
                %span.card-name 埋もれた財宝
                %span.card-name 買収工作
                %span.card-name 魅了術の魔女
            %label
              %input(type='checkbox' name='exclude_banned_cards_for_fairy_garden')
              フェアリーガーデンと併用非推奨のカードを除外する
              %span.note
                フェアリーガーデンのカードと以下のカードは同時に出現しません:
                全ての防衛カード、および
                %span.card-name 破城槌
                %span.card-name 埋もれた財宝
                %span.card-name 星詠みの魔女
                %span.card-name シノビ
                %span.card-name 魅了術の魔女
                %span.card-name 歩兵大隊
                %span.card-name 近衛騎士団
                %span.card-name 弓兵隊
                %span.card-name サムライ
            %label
              %input(type='checkbox' name='include_all_costs')
              各コスト帯のカードを含める
              %span.note
                各コスト帯のカードを1枚以上含めるようにします。
                ただし6コスト以上のカードは5コスト帯として扱います。
            %label
              %input(type='checkbox' name='include_link_2')
              リンク2を適宜含める
              %span.note
                サプライにリンク0のカードが含まれる場合、
                リンク2のカードを1枚は含めるようにします。

        .block
          %h2 その他

          %fieldset{data: {role: 'controlgroup', type: 'horizontal'}}
            %legend カードの並び順
            %label
              %input(type='radio' name='sort_key' value='eid')
              拡張順
            %label
              %input(type='radio' name='sort_key' value='cost')
              コスト順

          %fieldset{data: {role: 'controlgroup', type: 'horizontal'}}
            %legend 共有方法
            %label
              %input(type='radio' name='sharing_tool' value='web_intent')
              Twitter (Web)
            %label
              %input(type='radio' name='sharing_tool' value='twitter_app')
              Twitter.app

        .block
          %input#button_to_reset_options(type='button' value='初期設定に戻す')

    #about{as_page}

      %div{as_content}
        %p
          このアプリは
          %a(href='http://flipflops.jp/' target='_blank') FLIPFLOPs
          様製作のデッキ成長型カードゲーム
          %a(href='http://hatokura.flipflops.jp/' target='_blank') Heart of Crown
          用のサプライを選ぶためのツールです。
        %p
          %a(href='http://hatokura.flipflops.jp/rule' target='_blank')> ルールブック
          には初めてプレイする際に最適な
          %a(href='#supplies:basic')> 推奨サプライ
          が記載されていますが、ある程度ゲームに慣れてくると
          %a(href='#supplies:random')> ランダム選択でサプライを決める
          ようになります。
          ところがコモンカード10種類をランダムに選択するのは案外大変です。
          このツールが快適なゲームプレイの一助となれば幸いです。
        %p
          この手のツールは
          %a(href='http://www.google.com/search?q=%E3%83%8F%E3%83%BC%E3%83%88%E3%82%AA%E3%83%96%E3%82%AF%E3%83%A9%E3%82%A6%E3%83%B3%20%E3%83%A9%E3%83%B3%E3%83%80%E3%83%A0%20%E9%81%B8%E6%8A%9E' target='_blank')> 既存の実装
          がいくつも存在しますが、
          %a(href='http://whileimautomaton.net/' target='_blank')> 作者
          が
          %a(href='#credits')> 普段使用していない技術
          を使っての習作と私的な需要を満たすことを兼ねて作成しています。
        %ul
          %li
            %a(href='#{App::GITHUB_REPOS_URI}' target='_blank')<
              ソースコード
          %li
            %a(href='#{App::GITHUB_REPOS_URI}/issues' target='_blank')<
              既知の問題点や実装予定の機能
          %li
            %a(href='https://twitter.com/intent/tweet?text=@kana1+&hashtags=hatokurandom' target='_blank')<
              ご意見・ご感想
        %ul{as_listview, as_inset}
          %li
            %a(href='#tips')<
              Tips
          %li
            %a(href='#credits')<
              バージョン情報

    #tips{as_page}
      %div{as_content}
        %h1 Tips

        %h2 オフラインでの利用

        %p
          このアプリはWebアプリではありますが、
          %a(href='/offline')> オフラインでも利用できるバージョン
          を用意しています。
        %p
          特にiPhoneのSafariでこのオフライン版を
          「ホーム画面に追加」
          すると通常のアプリのように使えるようになります。
          うっかり電波の届かない場所でハトクラする時も安心ですし、
          オフライン版だと通信待ち時間が無いので高速で起動します。
        %p
          なお、オフライン版を利用している場合は
          画面右下隅に通信状況を示すアイコンが表示されます:

        %ul.fa-ul
          %li
            %i.fa-li.fa.fa-signal
            最新バージョンのチェック中
          %li
            %i.fa-li.fa.fa-download
            最新バージョンのダウンロード中
          %li
            %i.fa-li.fa.fa-check-circle
            オンライン状態 - 最新バージョンを利用中
          %li
            %i.fa-li.fa.fa-refresh
            オンライン状態 - 次回起動時に最新バージョンへ自動更新
          %li
            %i.fa-li.fa.fa-exclamation-circle
            オフライン状態 or
            オンライン状態だが最新バージョンのダウンロードに失敗

    #credits{as_page}

      %div{as_content}

        %h1
          About this application
        %div
          = App::CODENAME
          @@VERSION@@
        %div
          Copyright &copy; 2012-2014
          %a(href='http://whileimautomaton.net/' target='_blank') Kana Natsuno

        %h2
          Powered by the following libraries and services
        %ul{as_listview, as_inset}
          %li
            %h3
              %a(href='http://fortawesome.github.com/Font-Awesome/' target='_blank') Font Awesome
            for awesome icons.
          %li
            %h3
              %a(href='http://www.heroku.com/' target='_blank') Heroku
            for easy-to-use cloud application platform.
          %li
            %h3
              %a(href='http://pivotal.github.com/jasmine/' target='_blank') Jasmine
            for BDD in JavaScript.
          %li
            %h3
              %a(href='http://jquery.com/' target='_blank') jQuery
            for everything to develop Web applications.
          %li
            %h3
              %a(href='http://jquerymobile.com/' target='_blank') jQuery Mobile
            for touch-optimized Web application framework.

        %h2
          Thanks for the following games
        %ul{as_listview, as_inset}
          %li
            %h3
              %a(href='http://hatokura.flipflops.jp/' target='_blank') Heart of Crown
            for an exciting variant of deck-building games.
          %li
            %h3
              %a(href='http://www.riograndegames.com/games.html?id=278' target='_blank') Dominion
            for the origin of deck-building games.
          %li
            %h3
              %a(href='http://www.wizards.com/magic/' target='_blank') Magic: The Gathering
            for the origin of collectible trading card games.

    #notification
      #supply_status
        %i.fa.fa-warning
      #offline_mode
        %i
        %span.progress

    #templates.internal
      #page_list_template
        %div{as_content}
          %ul.page_list{as_listview}
            -# #page_list_item_template
      %ul#page_list_item_template
        %li
          %a(href='\#{{pid}}')
            %span.title {{title}}
            %span.excerpt {{excerpt}}
            .at {{at}}
      #card_list_template
        %div{as_content}
          %ul.card_list{as_listview, data: {divider_theme: 'd'}}
            -# #card_list_item_template
      %ul#card_list_item_template
        %li.card{data: {cid: '{{cid}}', imperfect: '{{imperfect}}'}}
          -# FIXME: Link to a card view.
          %label
            %input.selected{data: {role: 'none'}}(type='checkbox')
            %span.cost {{cost}}
            %span.type{data: {names: '{{main_types}}'}}
            %span.name {{name}}
            %span.subtype{data: {name: '{{subtype}}'}}
            %span.esym{data: {esym: '{{esym}}'}} {{esym}}
      %ul#supply_deadline_template
        %li{data: {role: 'list-divider', theme: 'a'}}

-# __END__
