!!! 5
%html{development? ? {} : {manifest: '/index.appcache'}}
  %head
    %title= App::NAME
    %meta(charset='UTF-8')
    %meta(name='viewport' content='width=device-width, initial-scale=1')
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %link(href='/stylesheets/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css')
    %link(href='/stylesheets/jquery-mobile/jquery.mobile-1.4.2.min.css' rel='stylesheet' type='text/css')
    %link(href='/stylesheets/app.css' rel='stylesheet' type='text/css')
    %script(src='/javascripts/jquery/jquery-2.1.1.min.js' type='text/javascript')
    %script(src='/javascripts/jquery-cookie/jquery.cookie.js' type='text/javascript')
    %script(src='/javascripts/jquery-mobile/jquery.mobile-1.4.2.min.js' type='text/javascript')
    %script(src='/javascripts/app.js' type='text/javascript')
  %body
    :ruby
      def as_page
        {data: {role: 'page'}}
      end
      def as_content
        {data: {role: 'content'}}
      end
      def as_listview
        {data: {role: 'listview'}}
      end
      def as_inset
        {data: {inset: 'true'}}
      end
      def as_button
        {data: {role: 'button'}}
      end

    #home{as_page}

      %div{as_content}
        %ul{as_listview}
          %li
            %a(href='#supplies:random') ランダム選択
          %li
            %a(href='#supplies:basic') 推奨サプライ(基本セット)
          %li
            %a(href='#supplies:fareast') 推奨サプライ(極東辺境領)
          %li
            %a(href='#supplies:northern') 推奨サプライ(北限の魔女)
          %li
            %a(href='#supplies:fairy') 推奨サプライ(フェアリーガーデン)
          %li
            -# %a(href='#supplies:six') 推奨サプライ(六都市同盟)
            %a.disabled 推奨サプライ(六都市同盟)
          %li
            %a(href='#supplies:championship1') 世界選手権
          %li
            %a(href='#supply:editor') 手動作成
          %li
            %a(href='#card-references') 機能別カードリスト
          %li
            %a(href='#about') このアプリについて

    #supplies{as_page}
      -# #supplies_template

    #supply{as_page}
      -# #supply_template

    #card-references{as_page}
      -# #supplies_template

    #configure{as_page, {data: {role: 'dialog'}}}

      %div{data: {role: 'header'}}
        %h1 ランダム選択の設定

      %div{as_content}

        %div.select{data: {role: 'fieldcontain'}}
          %fieldset{data: {role: 'controlgroup'}}
            %legend 使用するカードセット:
            %label
              %span.title 基本セット
              %select(name='include_basic'){data: {inline: 'true'}}
                %option(value='must') 必須
                %option(value='may') 使用
                %option(value='must_not') 禁止
            %label
              %span.title 極東辺境領
              %select(name='include_fareast'){data: {inline: 'true'}}
                %option(value='must') 必須
                %option(value='may') 使用
                %option(value='must_not') 禁止
            %label
              %span.title 北限の魔女
              %select(name='include_northern'){data: {inline: 'true'}}
                %option(value='must') 必須
                %option(value='may') 使用
                %option(value='must_not') 禁止
            %label
              %span#include_fairy.title フェアリーガーデン
              %select(name='include_fairy'){data: {inline: 'true'}}
                %option(value='must') 必須
                %option(value='may') 使用
                %option(value='must_not') 禁止
            %label
              %span.title 六都市同盟
              %select(name='include_six'){data: {inline: 'true'}}
                %option(value='must') 必須
                %option(value='may') 使用
                %option(value='must_not') 禁止

        %div{data: {role: 'fieldcontain'}}
          %fieldset{data: {role: 'controlgroup'}}
            %legend 偏り具合の調整:
            %label
              %input(type='checkbox' name='exclude_banned_cards')
              公式推奨バランスを使用する
              %span.note
                以下のカードを除外します:
                《埋もれた財宝》
                《買収工作》
                《魅了術の魔女》
            %label
              %input(type='checkbox' name='exclude_banned_cards_for_fairy_garden')
              フェアリーガーデンとの併用非推奨カードを除外する
              %span.note
                フェアリーガーデンのカードが含まれる場合、
                以下のカードを除外します:
                全ての防衛カード、および
                《破城槌》
                《埋もれた財宝》
                《星詠みの魔女》
                《シノビ》
                《魅了術の魔女》
                《歩兵大隊》
                《近衛騎士団》
                《弓兵隊》
                《サムライ》
            %label
              %input(type='checkbox' name='include_all_costs')
              コストの偏りを減らす
              %span.note
                各コストのカードを少なくとも1枚は含めます。
                ただし6コスト以上のカードは5コストとして扱います。
                これはゲーム的に面白くない偏りを避けるためです。
            %label
              %input(type='checkbox' name='include_link_2')
              リンク2を適宜含める
              %span.note
                サプライにリンク0のカードが含まれる場合、
                リンク2のカードを1枚は含めるようにします。
            %label
              %input(type='checkbox' name='exclude_useless_cards' disabled)
              効果の薄いカードを減らす
              %span.note
                サプライに含まれるカードとの組み合わせから、
                有効に活用できる場面が少ないカードをできるだけ除外します。
                例: 「兵力カードの無いサプライなら《城壁》は除外する」
            %label
              %input(type='checkbox' name='include_pairs' disabled)
              攻守で対のカードを含める
              %span.note
                一方的に攻撃が行われないよう、
                できるだけ対抗可能な防衛カードを含めるようにします。
                例: 「《呪詛の魔女》を含めるなら《魔法の護符》も含める」

        %div{data: {role: 'fieldcontain'}}
          %input#button_to_reset_options(type='button' value='初期設定に戻す')

    #about{as_page}

      %div{as_content}
        %p
          %a(href='http://flipflops.jp/' target='_blank') FLIPFLOPs
          様製作のデッキ成長型カードゲーム
          %a(href='http://hatokura.flipflops.jp/' target='_blank') Heart of Crown
          をプレイする際にサプライを選ぶためのツールです。
        %p
          %a(href='http://hatokura.flipflops.jp/rule' target='_blank') ルールブック
          に初めてプレイする際に最適な
          %a(href='#supplies:basic') 推奨サプライ
          が記載されていますが、ある程度ゲームに慣れてくると
          %a(href='#supplies:random') ランダム選択でサプライを決める
          ようになります。
          ところがコモンカードを10種類ランダムに選択するのは案外大変です。
          このツールがゲームを快適にプレイするための一助となれば幸いです。
        %p
          この手のツールは
          %a(href='http://www.google.com/search?q=%E3%83%8F%E3%83%BC%E3%83%88%E3%82%AA%E3%83%96%E3%82%AF%E3%83%A9%E3%82%A6%E3%83%B3%20%E3%83%A9%E3%83%B3%E3%83%80%E3%83%A0%20%E9%81%B8%E6%8A%9E' target='_blank') 既存の実装
          がいくつか存在しますが、
          %a(href='http://whileimautomaton.net/' target='_blank') 作者
          が
          %a(href='#credits') 普段使用していない技術
          を使っての習作と私的な需要を満たすことを兼ねて作成しています。
        %ul
          %li
            %a(href='#{App::GITHUB_REPOS_URI}' target='_blank')
              ソースコード
          %li
            %a(href='#{App::GITHUB_REPOS_URI}/issues' target='_blank')
              既知の問題点や実装予定の機能など
          %li
            %a(href='https://twitter.com/intent/tweet?text=@kana1+&hashtags=hatokurandom' target='_blank')
              ご意見・ご感想
        %ul{as_listview, as_inset}
          %li
            %a(href='#credits')
              バージョン情報

    #credits{as_page}

      %div{as_content}

        %h1
          About this application
        %div
          = App::CODENAME
          @@VERSION@@
        %div
          Copyright &copy; 2012-2014
          %a(href='http://whileimautomaton.net/' target='_blank') Kana Natsuno

        %h2
          Powered by the following libraries and services
        %ul{as_listview, as_inset}
          %li
            %h3
              %a(href='http://fortawesome.github.com/Font-Awesome/' target='_blank') Font Awesome
            for awesome icons.
          %li
            %h3
              %a(href='http://www.heroku.com/' target='_blank') Heroku
            for easy-to-use cloud application platform.
          %li
            %h3
              %a(href='http://pivotal.github.com/jasmine/' target='_blank') Jasmine
            for BDD in JavaScript.
          %li
            %h3
              %a(href='http://jquery.com/' target='_blank') jQuery
            for everything to develop Web applications.
          %li
            %h3
              %a(href='http://jquerymobile.com/' target='_blank') jQuery Mobile
            for touch-optimized Web application framework.

        %h2
          Thanks for the following games
        %ul{as_listview, as_inset}
          %li
            %h3
              %a(href='http://hatokura.flipflops.jp/' target='_blank') Heart of Crown
            for an exciting variant of deck-building games.
          %li
            %h3
              %a(href='http://www.riograndegames.com/games.html?id=278' target='_blank') Dominion
            for the origin of deck-building games.
          %li
            %h3
              %a(href='http://www.wizards.com/magic/' target='_blank') Magic: The Gathering
            for the origin of collectible trading card games.

    #notification
      #supply_status
        %i
      #offline_mode
        %i
          %span.progress

    #templates.internal
      #header_template
        %div{data: {role: 'header', position: 'fixed', id: 'navigation'}}
          %div{data: {role: 'navbar'}}
            %ul
              %li
                %a.home.button{data: {direction: 'reverse'}}(href='#home' title='ホーム画面へ移動する。')
                  %i.icon-home
              %li
                %a.configure.button{data: {rel: 'dialog'}}(href='#configure' title='設定画面を開く。')
                  %i.icon-cog
              %li
                %a.share.button(title='サプライを共有する。')
                  %i.icon-share
              %li
                %a.reshuffle.button(title='サプライを再生成する。')
                  %i.icon-random
      #supplies_template
        %div{as_content}
          %ul.supplies{as_listview}
            -# #supplies_item_template
      %ul#supplies_item_template
        %li
          %a(href='\#{{pid}}') {{title}}
      #supply_template
        %div{as_content}
          %ul.supply{as_listview}(data-divider-theme='d')
            -# #supply_item_template
      %ul#supply_item_template
        %li.card(data-cid='{{cid}}')
          -# FIXME: Link to a card view.
          %label
            %input.selected(type='checkbox' data-role='none')
            {{cost}}
            %span.type(data-name='{{dominant_type}}')
            {{name}}
            %span.subtype(data-name='{{subtype}}')
      %ul#supply_deadline_template
        %li{data: {role: 'list-divider'}}

-# __END__
